<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.wit.waterfordgalleryguide">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".main.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaterfordGalleryGuide">
        <activity
            android:name=".activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.map.GalleryMapView"
            android:exported="true"
            android:label="@string/title_activity_placemark_maps"
            android:theme="@style/Theme.WaterfordGalleryGuide.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCdp4XOF7vuFCT3S7VRKSHYWKkEb7JCAMc" />

        <activity
            android:name=".views.location.EditLocationView"
            android:exported="true"
            android:label="@string/title_activity_map" />
        <activity
            android:name=".activities.ButtonActivity"
            android:exported="true"
            android:label="Main Menu" />
        <activity
            android:name=".views.gallerylist.GalleryListView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.login.LoginView"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop"
            android:exported="true">
        </activity>
        <activity android:name=".views.gallery.GalleryView" />
    </application>
</manifest>